<form action="#" class="car">
  <div>
    Make: <input type="text" name="make" value="{{make}}">
  </div>
  <div>
    Model: <input type="text" name="model" value="{{model}}">
  </div>
  <div>
    Image: <input type="text" name="image" value="{{image}}">
  </div>
  <div>
    Price: <input type="text" name="price" value="{{price}}">
  </div>
  <div>
    Horsepower: <input type="text" name="horsepower" value="{{horsepower}}">
  </div>
  <button>Submit</button>
</form>