<form action="#" class="car">
  <h1>cars</h1>
  <div class="formRow">
    <div class="label">
      <label for="make">Make: </label>
    </div>
    <div class="input">
      <input type="text" name="make" id="make" value="{{make}}">
    </div>
  </div>

  <div class="formRow">
    <div class="label">
      <label for="model"> Model: </label>
    </div>
    <div class="input">
      <input type="text" name="model" id="model" value="{{model}}">
    </div>
  </div>
 
  <div class="formRow">
    <div class="label">
      <label for="image">Image:  </label>
    </div>
    <div class="input">
      <input type="text" name="image" id="input" value="{{img}}">
    </div>
  </div>

  <div class="formRow">
    <div class="label">
      <label for="price"> Price: </label>
    </div>
    <div class="input">
      <input type="text" name="price" id="price" value="{{price}}">
    </div>
  </div>

  <div class="formRow">
    <div class="label">
      <label for="horsepower"> Horsepower: </label>
    </div>
    <div class="input">
      <input type="text" name="horsepower" id="horsepower" value="{{horsepower}}">
    </div>
  </div>

  <button>Submit</button>

</form>