{{#each this}}
<figure data-id="{{id}}">
  <div><img src="{{img}}"></div>
  <figcaption>
    <h1>Make: {{make}}</h1>
    <h2>${{price}}</h2>
    <h3>Model: {{model}}</h3>
    <h3>HP: {{horsepower}}</h3>
    <div>
      <a href="/#/user/{{id}}/edit">Edit</a> |
      <a href="/#/user/{{id}}/delete">Delete</a>
    </div>
  </figcaption>
</figure>
{{/each}}
<a class="btn" href="/#/car/add">Add New Car</a>